body {
  background-image: url("../images/snowboarding.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}

.social {
  padding: 20px 20px 20px 20px;
}

h1 {
  margin-top: 230px;
  text-align: center;
  color: rgb(13, 13, 13);
  font-size: 75px;
  padding-bottom: 10px;
  font-family: 'Droid Sans', sans-serif;
}

h2 {
  text-align: center;
  color: rgb(13, 13, 13);
  font-size: 40px;
  font-family: 'Droid Sans', sans-serif;
}

h3 {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
}

h4 {
  text-align: center;
  font-size: 20px;
  font-family: 'Droid Sans', sans-serif;
  padding-top: 20px;
  width: 100%;
}

#topNav {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: #FAFAFA;
  z-index: 999;
  font-family: 'Droid Sans', sans-serif;
}

#homeIcon {
  height: 20px;
  width: 20px;
}

#topNav li {
  color: rgb(13, 13, 13);
  font-size: 18px;
  text-align: center;
}

.hide {
  display: none;
}

.show {
  display: block;
}

#landing ul {
  padding-top: 30px;
  text-align: center;
  list-style-type: none;
  font-family: 'Droid Sans', sans-serif;
  padding-bottom: 200px;
}

li {
  font-size: 28px;
  display: inline-block;
  text-align: center;
  color: rgb(13, 13, 13);
  padding: 10px 10px 10px 10px;
  font-family: 'Droid Sans', sans-serif;
}

li:hover {
  cursor: pointer;
}

#landing {}

.hello {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#videoDiv {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: -90px;
}

#aboutMeDiv {
  height: 395px;
  padding-top: 300px;
  background-color: #C4DFE6;
  position: relative;
  overflow: hidden;
  width: 100%;
  /*background-image: url("../images/basketball.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;*/
}

#aboutMeDiv h3 {
  position: absolute;
  top: 0;
  font-size: 32px;
  padding-top: 80px;
  width: 100%;
}

#aboutMeText p {
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 27px;
}

#aboutMeText {
  margin-top: 30px;
  width: 50%;
}

#experienceDiv {
  height: 750px;
  background-color: #66A5AD;
  width: 100%;
}

#experienceDiv h3 {
  font-size: 32px;
  padding-bottom: 35px;
  padding-top: 80px;
  width: 100%;
}

#projectsDiv {
  height: 710px;
  background-color: #C4DFE6;
  width: 100%;
}

#projectsDiv h3 {
  font-size: 32px;
  padding-top: 80px;
  width: 100%;
}

#project {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.projectsImg {
  width: 380px;
  height: 240px;
  box-shadow: 10px 10px 5px #888888;
}

#connect4 {
  background-color: black;
  color: white;
}

#mfm {
  background-color: black;
  color: white;
}

#contactDiv {
  height: 250px;
  background-color: #D3D3D3;
  width: 100%;
}

#contactDiv h3 {
  font-size: 30px;
  padding-top: 40px;
  width: 100%;
}

#workSkills {
  display: inline-flex;
  width: 100%;
}

#work {
  width: 50%;
}

#skills {
  padding-top: 100px;
  width: 50%;
}

#skills p {
  text-align: center;
  font-size: 25px;
}

#work p {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
  font-family: 'Droid Sans', sans-serif;
  width: 100%;
}

#botNav {
  display: block;
  justify-content: space-between;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}

#github {
  width: 75px;
  height: 75px;
  padding: 5px 5px 5px 5px;
/*  margin-right: 450px;*/
  box-shadow: 10px 10px 5px #888888;
}

#github:hover {
  width: 83px;
  height: 83px;
}

#linkedin {
  width: 75px;
  height: 75px;
  padding: 5px 5px 5px 5px;
  box-shadow: 10px 10px 5px #888888;
}

#linkedin:hover {
  width: 83px;
  height: 83px;
}

#email {
  width: 75px;
  height: 75px;
  padding: 5px 5px 5px 5px;
  box-shadow: 10px 10px 5px #888888;
}

#email:hover {
  width: 83px;
  height: 83px;
}

#work > .job {
  font-weight: bold;
}

@media only screen and (max-width: 640px) {
  li {
    font-size: 20px;
  }
  h1 {
    text-align: center;
  }
  .hello {
    width: 100%;
  }
  #aboutMeDiv {
    width: 100%;
  }
  #meVideos {
    text-align: center;
    width: 400px;
    height: 200px;
  }
  #aboutMeText {
    text-align: center;
    width: 100%;
  }
  #aboutMeText p {
    font-size: 16px;
  }
  #videoDiv {
    display: block;
    text-align: center;
    margin-top: -145px;
  }
  .projectsImg {
    width: 350px;
    height: 250px;
    box-shadow: 10px 10px 5px #888888;
  }
  #projectsDiv {
    width: 100%;
  }
  #contactDiv {
    width: 100%;
  }
  #project {
    padding-top: 50px;
    display: block;
    text-align: center;
  }
  #workSkills {
    display: block;
  }
  #skills {
    width: 100%;
    padding-top: 0px;
  }
  #skills p {
    font-size: 22px;
  }
  #work {
    width: 100%;
    padding-top: 40px;
  }
  #work p {
    font-size: 22px;
  }
  #experienceDiv {
    height: 830px;
    width: 100%;
  }
  #experienceDiv h3 {
    font-size: 32px;
    padding-bottom: 35px;
    padding-top: 70px;
    width: 100%;
  }
  #projectsDiv h3 {
  padding-top: 70px;
  }
}
